@import '../../variables';

.sidebar {
    border-right: 1px solid $gray;
    height: 100vh;
    position: sticky;
    top: 0;
    &-container {
        background-color: $dark;
    }

    &-img {
        max-width: 100%;
        width: 200px;
    }
}

.title {
    color: $gray;
}

.active {
    &-bar {
        background-color: $yellow;
    }

    &-title.title  {
        color: $yellow;
    }
}
